* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(8, 7, 7);
    color: white;
}

@media (max-width:950px) {

    .header5 {

        display: flex;
        flex-direction: column;
        

        flex-wrap: wrap;
    }

    .main5 {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;

        text-align: center;
    }

    

    .titulo2 {
        font-size: 3rem;
    }

    .subtitulo2 {
        font-size: 2.5rem;
    }

    .texto2 {
        font-size: 2rem;
    }

}

@media (max-width:770px) {

    .header5 {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
    }

    .main5 {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;

        text-align: center;
    }

    .header3 {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
    }

    .row {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
    }

    .titulo2 {
        font-size: 3.5rem;
    }

    .subtitulo2 {
        font-size: 3rem;
    }

    .texto2 {
        font-size: 2.5rem;
    }

}


@media (max-width:550px) {

    .body2 {

        display: flex;
        flex-direction: column;
        

        flex-wrap: wrap;
    }

    .header5 {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
    }

    .main5 {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;

        text-align: center;
    }

    .header4 {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;

    }

    

    .header3 {

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
    }

    .row {

        display: flex;
        flex-direction: column;
        

        flex-wrap: wrap;
    }


    .imagenes {
        display: flex;
        flex-direction: column;
    }
    

    .header2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .imagenes2 {
        display: flex;
        flex-direction: column;
    }


    
    
    
    .footer {
        font-size: 1rem;
    }

    .titulo2 {
        font-size: 4rem;
    }

    .subtitulo2 {
        font-size: 3.5rem;
    }

    .texto2 {
        font-size: 1.5rem;
    }
}

.imagen1 {
    padding: 1rem;
}

.header {
    display: flex;
    background-color: rgb(8, 7, 7);

    gap: 6rem;
    margin: 2rem;
}

.linea {
    color: red;
}

.imagenes {
    border: 4px solid red;
    padding: 0;
    margin: 8rem;

    

    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.imagenes:hover {
    transition: 1s;
    box-shadow: 4px 4px red;
}

.footer {
    color: white;
    
    display: flex;
    padding: 2rem;
    justify-content: center;
        
}


.body2 {
    background-color: rgb(8, 7, 7);
    text-align: center;
}


.titulo2 {
    padding: 0;
    color: white;
    background-color: rgb(8, 7, 7);
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 2.5rem;
    
}

.subtitulo2 {
    color: white;
    margin: 1.5rem;
}

.texto2 {
    margin: 1.5rem;
    font-size: 1.7rem;
}

.imagen22 {
    border: 2px solid red
}

.imagen22:hover {
    transition: 1s;
    box-shadow: 4px 4px red;
}


.imagen33 {
    border: 2px solid red;
}

.imagen33:hover {
    transition: 1s;
    box-shadow: 4px 4px red;
}

.col-4 {
    margin: 0;
    padding: 3rem;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    
}

.col-4:hover {
    transition: 1s;
}

.marca1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(136, 9, 9);
}

.imagen4:hover {
    transition: 1s;
    box-shadow: 4px 4px red;
}

.productos {
    padding: 2.5rem;
    margin: 0rem;
    
}

.producto1 {


    color: rgb(136, 9, 9);
    font-weight: bold;

    padding: 1rem;
    margin: 0rem;
}

.titulo3 {
    color: white;
}

.ubicaciones {

    padding: 2rem;
    margin: 3rem;
}

.ciudad {
    font-size: 2.6rem;
    color: rgb(136, 9, 9);
}

.formulario2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


    padding: 1rem;
    margin: 10px;
}

.btn {
    margin: 1rem;
}

.imagenes3 {
    display: flex;
    flex-direction: row;
}

.redes1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
   
}