.imagen1 {
    padding: 1rem;
}

@mixin posicion($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

.imagenes {
    border: 4px solid $primaryColor;
    @include posicion(0, 8rem);

    

    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

    &:hover {
        transition: 1s;
        box-shadow: 4px 4px $primaryColor
    }
}